<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart City Traffic Dashboard</title>
  
</head>
<body class="index-page">
  <header class="navbar">
    <h1 class="textAnimation">Smart City Traffic App</h1>
    <nav>
      <a href="index.html" class="nav-link active">Dashboard</a>
      <a href="forum.html" class="nav-link">Forum</a>
      <a href="more-insights.html" class="nav-link">Insights</a>
    </nav>
  </header>
  
  <main>
    <div class="charts-container">
      <!-- Chart with description -->
      <div class="chart-wrapper">
        <canvas id="tempChart" width="100" height="60"></canvas>
        <p>Temperature: <span id="temp">Loading...</span></p>
        <p>Conditions: <span id="conditions">Loading...</span></p>
      </div>
      
      <!-- Congestion Prediction System -->
      <div class="prediction-form">
        <img src="" alt="Congestion Prediction " class="congestion-image">
        <h2>Quick Congestion Prediction</h2>
        <form id="predictionForm">
          <label for="location">Enter Location:</label>
          <input type="text" id="location" name="location" placeholder="Enter location" loading="lazy">
          <button type="submit">Predict</button>
        </form>
        <div id="predictionResult">
          <!-- Placeholder for congestion prediction result -->
        </div>
      </div>
      <!--  -->
    </div>
  </main>


  <section>
    <h2 class="textAnimation">Traffic Insights</h2>
    <iframe src="https://public.tableau.com/views/UrbanMobilityNTrafficPatternsinSmartCities/Cognestionthroughtheday?:embed=y&:display_count=no&:showVizHome=no"
            width="100%" height="600"></iframe>
    <p><a href="more-insights.html">For more insights, click here</a></p>
  </section>
  
  <!-- Footer Section -->
  <footer>
    <h2>Smart City Traffic App</h2>
    <p>&copy; 2024 Smart City Traffic. All rights reserved.</p>
    <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
  </footer>

  <script src="./bundle.js"></script>
</body>
</html>
