@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

nav button {
  margin: 0.5em;
  padding: 0.5em 1em;
  background-color: #78B7D0;
  border: 1px solid #3b5998;
  cursor: pointer;
  font-size: 17px;
  font-family: "Playfair Display", serif;
  color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}


nav button:hover {
  background-color: #5e95d7;
  font-weight: 600;
}
  
section {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.section-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  background-color: rgba(120, 183, 208, 0.1); // خلفية خفيفة لتحديد العنوان
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    margin-left: 15px;
    font-size: 28px;
    color: #333; // لون داكن للعنوان
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;

    // إضافة خط تحت العنوان يظهر عند التمرير بالفأرة
    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #78B7D0;
      transition: width 0.3s ease;
    }

    &:hover {
      color: #78B7D0;

      &:after {
        width: 100%;
      }
    }
  }

  .icon {
    color: #78B7D0;
    margin-top: 0px;
    transition: transform 0.3s ease, color 0.3s ease;

    // تأثير hover على الأيقونة
    &:hover {
      transform: scale(1.1); // تكبير الأيقونة عند التمرير عليها
      color: #4D9DC4; // تغيير اللون عند التمرير
    }
  }
}
// For more Buttons:
.more-insights-link {
  text-align: center;
  margin-top: 20px;

  a {
    color: #5e95d7;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #5e95d7;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #5e95d7;
      color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
  }
}
